<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <!-- <div class="not-found">
      <h1>OOPS!</h1>
      <h2>Page not found :^P</h2>
    </div> -->

        <div class="new-posting">
      <h2 class="page-title">404 - Page not Found</h2>
          <p class="page-not-found">Oops! The page you were looking for is not here. Recheck your URL :^P</p>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
