<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="not-found">
      <h1>OOPS!</h1>
      <h2>Page not found :^P</h2>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
