<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-contact">
      <h2>About this Application</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia
        odio vitae vestibulum. Fusce volutpat sem vel felis facilisis, ut
        faucibus nisi laoreet.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
