<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="new-posting">
      <h2 class="page-title">New Posting - Create Message</h2>
      <form class="new-posting-form" method="POST" action="/">
        <label for="author">Name</label>
        <input type="text" id="author" name="author" placeholder="Enter your username..." required />
        <label for="text">Message</label>
        <textarea type="text" id="text" name="text" placeholder="Enter your message..."required></textarea>
        <button>Submit Post</button>
      </form>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
