    <nav>
      <div class="app-title">
        <a href="/"><h1>Mini Message Board</h1></a>
        <h2>Another back-end project using Node.js, Express, and EJS</h2>
      </div>
      <ul>
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/about">About</a></li>
        <li><a href="/new">New Message</a></li>
      </ul>
    </nav>