:root {
  --font-title: "Cabin Sketch", sans-serif;
  --font-text: "Funnel Sans", sans-serif;

  --border-radius: 0.5rem;
  --card-width: 90vw;
  --max-card-width: 65ch;

  --white: #ffffff;
  --black: #000000;

  --text-color: #242221;
  --other-text-color: #242221ad;
  --nav-footer-color: #b1c3f0;
  --board-color: #6c5a20;
  /* --card-color: #e9e9f1; */
  --card-color: #afafc7;
  --hover-color: #a27d02;
  --focus-color: #1d3f96;
  /* --hover-color: #eeba0d; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: var(--text-color);
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  font-family: var(--font-text);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  border: none;
  outline: none;
}

/* Makes a element and button element focus rings identical */
:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

/* Disable text selection on mobile */
*::selection {
  background-color: transparent;
  color: inherit;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--nav-footer-color);
  padding: 0.5rem;
  text-align: center;
}

.app-title {
  height: fit-content;
  color: var(--black);
}

.nav-link-container {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  border-radius: var(--border-radius);
}

a,
button {
  height: fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.125rem solid var(--text-color);
  border-radius: var(--border-radius);
  box-shadow: inset 0 0.125rem 0.5rem var(--other-text-color);
  color: var(--black);
  padding: 0.25rem 0.5rem;
}

a:hover,
button:hover {
  background-color: var(--hover-color);
  border: 0.125rem solid var(--white);
  color: var(--white);
}

/* REMINDER - use :focus-visible when you want keyboard users and screen readers to see focus indicators, BUT not when clicking with a mouse */
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
button:focus-visible {
  outline: 0.25rem dashed var(--focus-color);
}

.main-board,
.new-posting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  flex: 1; /* pushes the footer down */
  background: linear-gradient(05deg, var(--board-color), var(--hover-color));
  padding: 1rem;
}

.page-title {
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
}

.message-cards,
.new-posting-form {
  height: fit-content;
  width: var(--card-width);
  max-width: var(--max-card-width);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* background-color: var(--card-color); */
  background: linear-gradient(05deg, var(--card-color), var(--white));
  border-radius: var(--border-radius);
  box-shadow: inset 0 0.125rem 0.5rem var(--other-text-color);
  padding: 0.5rem;
}

.message-cards:hover {
  /* background-color: var(--white); */
  background: linear-gradient(05deg, var(--white), var(--white));
  transform: scale(1.05);
}

.user-name,
label {
  margin-bottom: 0.125rem;
}

input,
textarea {
  background-color: var(--white);
  border-radius: var(--border-radius);
  font-family: var(--font-text);
  margin-bottom: 1rem;
  padding: 0.25rem;
}

.added-when,
.id-order {
  color: var(--other-text-color);
  text-transform: uppercase;
}

.bottom-card-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

textarea {
  height: 4rem;
}

/* WORD BREAKING HERE!!! For super long words entered by the user.*/
.text-message {
  padding: 0.5rem 0;
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* extra robustness */
}

.no-message-to-show,
.page-not-found {
  max-width: 23ch;
  background-color: var(--card-color);
  border-radius: var(--border-radius);
  color: var(--text-color);
  padding: 0.5rem;
}

footer {
  background-color: var(--nav-footer-color);
  padding: 0.5rem;
  text-align: center;
}

/* font-family = --font-title */
.app-title,
a,
button,
.page-title,
label,
.bottom-card-items,
.no-message-to-show,
.page-not-found,
.footer {
  font-family: var(--font-title);
}

.user-name,
input,
label {
  font-weight: 600;
}

/* font-sizes master for certain elements */
a,
.user-name,
label,
button, 
.bottom-card-items {
  font-size: 1.35rem;
}

.page-title {
  font-size: 1.25rem;
}

.text-message,
input,
textarea {
  font-size: 1.125rem;
}

.added-when,
.id-order,
footer {
  font-size: 1rem;
}

.no-message-to-show,
.page-not-found {
  font-size: 2.25rem;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }
}
